@using WEBKitaplık.Models;
@model List<Kitap>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KitapLayout.cshtml";
}

<table>
    <tr>
        <th>Kitap No</th>
        <th>Kitap Adı</th>
        <th>Sayfa Sayısı</th>
        <th>Yazar Adı</th>
        <th>Kategori Adı</th>
    </tr>
    </table>

