@{
    ViewBag.Title = "İletişim Bilgileri";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Yasin Yumrutaş<br />
    Gaziantep/Şehitkamil/İbrahimli/Dr.Asım Güzelbey Cad.<br />
    <abbr title="Phone">P:</abbr>
    552 064 22 62
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>