
@{
    ViewBag.Title = "MyProfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyProfil</h2>
<div>
    <p>Merhabalar ben BackEnd Jr.Developer Yasin Yumrutaş</p><br />
    <p>19 Yaşındayım ve Üniversite 2.Sınıf Bilgisayar Mühendisliği Öğrencisiyim</p>
    <p>2 Yıl içinde Mid seviye bir Developer olmak istiyorum</p>
    <p>Hayallerim var ve onlar için uğraşıyorum</p>
    <address>
        Work Space:Mixer Games <br />
        <abbr title="Phone">Telefon:</abbr>
        552 064 22 62
    </address>
</div>

